@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main > div {
	width: 60%;
}

.main h1 {
	text-align: center;
}

.main ul {
	list-style-type: '👉 ';
}

.emoji {
	font-size: 1.2em;
}

footer {
	padding: .5rem 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer a {
	color: white;
	text-shadow: 0 0 1rem #0008;
}

footer a::before {
	content: '+';
}

@media (max-width: 780px) {
	.main > div {
		width: 90%;
	}

	footer {
		flex-direction: column;
	}
}
